body {
    // font-size: 62.5%;
    background-color: #eee;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}

.wrapper {
    width: 100%;
    display: block;
    max-width: 1230px;
    padding: 0 25px;
    margin: 0 auto;
    position: relative;
}